<ion-header kind="stable">
  <div class="buttons buttons-left header-item">
    <span class="left-buttons">
      <ion-button kind="icon" clear=true class="ion-navicon {{menuActivation}}">
      </ion-button>
    </span>
  </div>

  <div class="buttons buttons-left header-item">
  </div>

  <h1 class="title">Main Content</h1>
</ion-header>
<ion-content header=true ionic-scroll=true>
  {{yield}}
</ion-content>
